<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gestión de Proveedores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gestión de Proveedores</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Botón para registrar nuevo proveedor -->
  <div class="ion-padding">
    <ion-button
      (click)="toggleFormulario()"
      expand="block"
      fill="outline"
      color="primary"
    >
      <ion-icon
        slot="start"
        name="add-circle-outline"
        class="icon-primary"
      ></ion-icon>
      {{ mostrarFormulario ? 'Cancelar Registro' : 'Registrar Nuevo Proveedor'
      }}
    </ion-button>
  </div>

  <!-- Formulario de Proveedores (condicional) -->
  @if(mostrarFormulario) {
  <app-registrar-proveedor
    (guardadoExitoso)="ocultarFormulario()"
  ></app-registrar-proveedor>
  }

  <!-- Componente de Edición de Proveedor (condicional) -->
  @if(mostrarEdicion) {
  <app-descripcion-proveedor
    [proveedor]="proveedorSeleccionado"
    (guardadoExitoso)="ocultarEdicion()"
    (cancelar)="ocultarEdicion()"
  ></app-descripcion-proveedor>
  }

  <!-- Tabla de Proveedores -->
  <app-tabla-proveedores
    (proveedorSeleccionado)="onProveedorSeleccionado($event)"
  ></app-tabla-proveedores>
</ion-content>
