<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gestión de Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gestión de Productos</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Botón para registrar nuevo producto -->
  <div class="ion-padding">
    <ion-button
      (click)="toggleFormulario()"
      expand="block"
      fill="outline"
      color="primary"
    >
      <ion-icon
        slot="start"
        name="add-circle-outline"
        class="icon-primary"
      ></ion-icon>
      {{ mostrarFormulario ? 'Cancelar Registro' : 'Registrar Nuevo Producto' }}
    </ion-button>
  </div>

  <!-- Formulario de Productos (condicional) -->
  @if(mostrarFormulario) {
  <app-registrar-producto
    (guardadoExitoso)="ocultarFormulario()"
  ></app-registrar-producto>
  }

  <!-- Componente de Edición de Producto (condicional) -->
  @if(mostrarEdicion) {
  <app-descripcion-producto
    [producto]="productoSeleccionado"
    (guardadoExitoso)="ocultarEdicion()"
    (cancelar)="ocultarEdicion()"
  ></app-descripcion-producto>
  }

  <!-- Tabla de Productos -->
  <app-tabla-productos
    (productoSeleccionado)="onProductoSeleccionado($event)"
  ></app-tabla-productos>
</ion-content>
