<ion-app>
  <app-navbar *ngIf="isAuthenticated" />
  <app-sidebar *ngIf="isAuthenticated" />
  <ion-content id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
  <ion-footer class="footer-compact" *ngIf="isAuthenticated">
    <ion-toolbar>
      <div class="footer-sections">
        <div class="footer-column footer-column-left">
          <small
            ><ion-icon name="call-outline"></ion-icon> +57 601 123 4567</small
          >
          <small
            ><ion-icon name="phone-portrait-outline"></ion-icon> +57 315 987
            6543</small
          >
        </div>

        <div class="footer-column footer-column-center">
          <small>© 2025 Kintelux</small>
        </div>

        <div class="footer-column footer-column-right">
          <small
            ><ion-icon name="mail-outline"></ion-icon>
            contacto@kintelux.com</small
          >
          <small
            ><ion-icon name="location-outline"></ion-icon> Carrera 1 A bis # 64
            09, Neiva</small
          >
        </div>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-app>
