<ion-card>
  <ion-card-header>
    <ion-card-title>Detalle del Item</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="itemForm">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-item>
              <ion-label position="floating">Código</ion-label>
              <ion-input
                formControlName="codigo"
                type="text"
                id="codigoInput"
                aria-label="Código del item"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-md="6">
            <ion-item>
              <ion-label position="floating">Categoría</ion-label>
              <ion-select
                formControlName="categoria"
                interface="action-sheet"
                id="categoriaSelect"
                aria-label="Categoría del item"
              >
                <ion-select-option
                  *ngFor="let cat of categorias"
                  [value]="cat.id"
                >
                  {{ cat.nombre }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Descripción</ion-label>
              <ion-input
                formControlName="descripcion"
                type="text"
                id="descripcionInput"
                aria-label="Descripción del item"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-md="4">
            <ion-item>
              <ion-label position="floating">Cantidad</ion-label>
              <ion-input
                formControlName="cantidad"
                type="number"
                min="0"
                id="cantidadInput"
                aria-label="Cantidad del item"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-md="4">
            <ion-item>
              <ion-label position="floating">Precio Unitario</ion-label>
              <ion-input
                formControlName="precioUnitario"
                type="text"
                id="precioUnitarioInput"
                aria-label="Precio unitario del item"
                (ionBlur)="formatearPrecio($event)"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-md="4">
            <ion-item>
              <ion-label position="floating">Stock</ion-label>
              <ion-input
                formControlName="stock"
                type="number"
                min="0"
                id="stockInput"
                aria-label="Stock del item"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label>Activo</ion-label>
              <ion-toggle formControlName="estaActivo"></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            @if(!modoEdicion) {
            <ion-button
              expand="block"
              color="primary"
              (click)="activarEdicion()"
              id="editarButton"
              aria-label="Editar item"
              >Editar</ion-button
            >
            } @else {
            <ion-button
              expand="block"
              color="success"
              (click)="guardarCambios()"
              [disabled]="!itemForm.valid"
              id="guardarButton"
              aria-label="Guardar cambios"
              >Guardar Cambios</ion-button
            >
            }
          </ion-col>
          <ion-col>
            @if(!modoEdicion) {
            <ion-button
              expand="block"
              color="medium"
              (click)="volver()"
              id="volverButton"
              aria-label="Volver a la lista"
              >Volver</ion-button
            >
            } @else {
            <ion-button
              expand="block"
              color="danger"
              (click)="cancelarEdicion()"
              id="cancelarButton"
              aria-label="Cancelar edición"
              >Cancelar</ion-button
            >
            }
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card-content>
</ion-card>
