<ion-card>
  <ion-card-header>
    <ion-card-title>Detalle del Producto</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="productoForm">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-item>
              <ion-label position="floating">Código</ion-label>
              <ion-input
                formControlName="codigo"
                type="text"
                id="codigoInput"
                aria-label="Código del producto"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-md="6">
            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input
                formControlName="nombre"
                type="text"
                id="nombreInput"
                aria-label="Nombre del producto"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Descripción</ion-label>
              <ion-input
                formControlName="descripcion"
                type="text"
                id="descripcionInput"
                aria-label="Descripción del producto"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-item>
              <ion-label position="floating">Unidad de Medida</ion-label>
              <ion-select
                formControlName="unidadMedida"
                interface="action-sheet"
                id="unidadMedidaSelect"
                aria-label="Unidad de medida del producto"
              >
                <ion-select-option
                  *ngFor="let unidad of unidadesMedida"
                  [value]="unidad"
                >
                  {{ unidad }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-md="6">
            <ion-item>
              <ion-label position="floating">Precio Base</ion-label>
              <ion-input
                formControlName="precioBase"
                type="text"
                id="precioBaseInput"
                aria-label="Precio base del producto"
                (ionBlur)="formatearPrecio($event)"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label>Activo</ion-label>
              <ion-toggle formControlName="estadoActivo"></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            @if(!modoEdicion) {
            <ion-button
              expand="block"
              color="primary"
              (click)="activarEdicion()"
              id="editarButton"
              aria-label="Editar producto"
              >Editar</ion-button
            >
            } @else {
            <ion-button
              expand="block"
              color="success"
              (click)="guardarCambios()"
              [disabled]="!productoForm.valid"
              id="guardarButton"
              aria-label="Guardar cambios"
              >Guardar Cambios</ion-button
            >
            }
          </ion-col>
          <ion-col>
            @if(!modoEdicion) {
            <ion-button
              expand="block"
              color="medium"
              (click)="volver()"
              id="volverButton"
              aria-label="Volver a la lista"
              >Volver</ion-button
            >
            } @else {
            <ion-button
              expand="block"
              color="danger"
              (click)="cancelarEdicion()"
              id="cancelarButton"
              aria-label="Cancelar edición"
              >Cancelar</ion-button
            >
            }
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card-content>
</ion-card>
